<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.launcher3.overlay.malbec.alos">
    <overlay android:targetPackage="com.android.launcher3"
             android:isStatic="true"
             android:priority="10" />
</manifest>
