allow crash_dump keystore:process { ptrace };
allow e2fs sysfs:file { getattr open read };
allow fsck sysfs:file { getattr open read };
allow kernel kernel:capability { net_bind_service };
allow vendor_modprobe block_device:blk_file { getattr ioctl open read };
allow vendor_modprobe block_device:dir { open read search };
allow vendor_modprobe crash_dump:dir { getattr search };
allow vendor_modprobe crash_dump:file { open read };
allow vendor_modprobe init:dir { getattr search };
allow vendor_modprobe init:file { open read };
allow vendor_modprobe kernel:dir { getattr search };
allow vendor_modprobe kernel:file { open read };
allow vendor_modprobe kernel:process { setsched };
allow vendor_modprobe kernel:system { syslog_read };
allow vendor_modprobe keystore:dir { getattr search };
allow vendor_modprobe keystore:file { open read };
allow vendor_modprobe kmsg_device:chr_file { read };
allow vendor_modprobe lmkd:dir { getattr search };
allow vendor_modprobe lmkd:file { open read };
allow vendor_modprobe logcat_exec:file { execute execute_no_trans getattr map open read };
allow vendor_modprobe logd:dir { getattr search };
allow vendor_modprobe logd:file { open read };
allow vendor_modprobe logd:unix_stream_socket { connectto };
allow vendor_modprobe logdr_socket:sock_file { write };
allow vendor_modprobe prng_seeder:dir { getattr search };
allow vendor_modprobe prng_seeder:file { open read };
allow vendor_modprobe proc_pid_max:file { open read };
allow vendor_modprobe servicemanager:dir { getattr search };
allow vendor_modprobe servicemanager:file { open read };
allow vendor_modprobe system_suspend:dir { getattr search };
allow vendor_modprobe system_suspend:file { open read };
allow vendor_modprobe tee:dir { getattr search };
allow vendor_modprobe tee:file { open read };
allow vendor_modprobe tmpfs:dir { add_name create mounton write };
allow vendor_modprobe ueventd:dir { getattr search };
allow vendor_modprobe ueventd:file { open read };
allow vendor_modprobe vdc:dir { getattr search };
allow vendor_modprobe vdc:file { open read };
allow vendor_modprobe vendor_init:dir { getattr search };
allow vendor_modprobe vendor_init:file { open read };
allow vendor_modprobe vendor_modprobe:capability { sys_nice sys_ptrace };
allow vendor_modprobe vendor_modprobe:key { write };
allow vendor_modprobe vfat:dir { add_name search write };
allow vendor_modprobe vfat:file { create getattr ioctl open write };
allow vendor_modprobe vfat:filesystem { mount unmount };
allow vendor_modprobe vndservicemanager:dir { getattr search };
allow vendor_modprobe vndservicemanager:file { open read };
allow vendor_modprobe vold:dir { getattr search };
allow vendor_modprobe vold:file { open read };
