service malbec_bootwatchdog /vendor/bin/malbec_bootwatchdog.sh
    class late_start
    disabled
    oneshot
    seclabel u:r:vendor_modprobe:s0
    user root
    group root

on early-init
    write /dev/kmsg "MALBEC-MARKER early-init"
    mkdir /data/tombstones 0771 tombstoned tombstoned
    start tombstoned
    start vendor.qseecomd
    start vendor.keymint-qti
    start malbec_bootwatchdog

on init
    write /dev/kmsg "MALBEC-MARKER init"

on early-fs
    write /dev/kmsg "MALBEC-MARKER early-fs"

on fs
    write /dev/kmsg "MALBEC-MARKER fs"

on post-fs
    write /dev/kmsg "MALBEC-MARKER post-fs"

on late-fs
    write /dev/kmsg "MALBEC-MARKER late-fs"

on post-fs-data
    write /dev/kmsg "MALBEC-MARKER post-fs-data"

on zygote-start
    write /dev/kmsg "MALBEC-MARKER zygote-start"

on early-boot
    write /dev/kmsg "MALBEC-MARKER early-boot"

on boot
    write /dev/kmsg "MALBEC-MARKER boot"

on property:sys.boot_completed=1
    write /dev/kmsg "MALBEC-MARKER BOOT_COMPLETED"
    setprop debug.malbec.bootok 1
