service keystore2 /vendor/bin/malbec_ks2_wrapper.sh
    override
    class early_hal
    user keystore
    group keystore readproc log
    task_profiles ProcessCapacityHigh
    rlimit memlock unlimited unlimited
